<div class="shelfbrowser">
    <%= content_tag "div", 
        {   
            :class => "shelfbrowser-browse-column",
            :data => {
                :stackview_browser_item_path => (respond_to?(:stackview_browser_item_path) ?
                    stackview_browser_item_path :
                    "")
            } 
        } do %>
        <%= content_tag "div", "", 
                :class => "shelfbrowser-stackview",
                :data => {
                    :stackview_init => {
                        :id => 0,
                        :url => stackview_data_path(
                            local_assigns[:call_number_type] || "lc", 
                            :origin_sort_key => local_assigns[:origin_sort_key]
                        ),
                        :search_type => "loc_sort_order"
                    }
                }
        %>
    <% end %>

    <div class="shelfbrowser-info-column">
        <div class="shelfbrowse-header">
            <%# cheesy way to provide a 'back' button, our users requested it %>
            <% if request.referer %>
                <p class="shelfbrowser-back-btn">
                    <%= link_to "« Back to Catalog", request.referer %>
                </p>
            <% end %>

            <h2>Virtual Shelf Browse</h2>
        </div>

        <div class="stack-item-panel"></div>        
    </div>

</div>

