
.stack-plain {
  box-sizing: content-box;
  position: relative;  

  > a {
    box-sizing: content-box;

    min-height: 40px;

    position:relative;
    width: 100%;

    border-radius: 3px 0 0 3px;
    border-width:1px;
    border-style:solid;
    text-shadow:none;
    font-size:11px;
    padding:0 10px 0 0;

    // Diagonal pinstripes which respect original bg color
    &, &:hover, &:active, &:focus {
      background-image: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(255,255,255,.25) 7px, rgba(255,255,255,.25) 14px);
    }


    font-family: monospace;

  }

  .spine-year {
    @include rotate(-90deg);
  }

  .spine-text {
    position: static;
    //margin-right: 40px;
    //margin-left: 7px;
    margin: 7px 14px 7px 7px;
  }

  .plain-label {
    box-sizing: border-box !important;

    //display:inline-block;
    margin:7px 0 7px 0;
    //border-radius:3px;
    //border:1px #ccc;

    max-width: 100%;

    text-overflow:ellipsis;
  }

  .plain-title, .plain-format, .plain-author {
    box-sizing: border-box !important;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    margin-right: 7px;
    line-height: 18px;
  }

  .plain-title {
    font-size: 13px;
    float: left;
  }
  .plain-format {
    float: left;
    clear: left;
    &:empty {
      clear: none;
    }
  }
  .plain-author {
    float: right;
  }

  .plain-top {
    content:'';
    display:block;
    position:absolute;
    top:-5px;
    left:4px;
    right:-5px;
    height:3px;
    border-width:1px;
    border-style:solid;
    @include skew(-70deg, 0);
    border-radius:0 5px 0 5px;
    z-index:2;
  }

  .plain-edge {
    content:'';
    display:block;
    position:absolute;
    top:-3px;
    bottom:1px;
    right:-8px;
    width:6px;
    @include skew(0, -20deg);
    border-width:0 1px 1px 0;
    border-style:solid;
  }

}







