

.shelfbrowser {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 1340px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;

  position: relative;
  box-sizing: border-box;



  // we prefer no ribbon
  .stackview .ribbon {
    display: none;
  }

  .stackview .stack-navigation {
    top: 55px; // not sure why it ended up 5px by default. 
  }

  .shelfbrowser-browse-column, .shelfbrowser-info-column {
    display: table-cell;
  }

  .shelfbrowser-browse-column {
    width: 55%;
    @media screen and (min-width: 925px) { 
      width: 60%;
    }

    // Does weird with our columns, but we're leaving in for now
    padding-left: 8px;

    .stackview {
      // Trying to do this made IE unhappy. 
      //position: absolute;
      //height: 100%;
      //width: 100%;

      // Stackview does not like box-styling: border-box.
      // Bootstrap applies it to everything, we apply it to
      // some things above here on purpose, as it makes things better. 
      // But we need to return actual contents of the .stackview to
      // content-box. 
      * {
        box-sizing: content-box;
      }
    }

  }

  .shelfbrowser-info-column {    
    box-sizing: border-box;
    width: 45%;
    @media screen and (min-width: 925px) { 
      width: 40%;
    }

    position: absolute;
    top: 0;
    bottom: 0;
    overflow-y: auto;

    padding: 0 16px 16px 16px;

    .shelfbrowse-header {
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 16px;
    }

    .stack-item-panel {
      overflow-x: hidden;
    }

  }

  .active-item {
    margin-left: 10px;
    // Make the old item nudge in just a bit before
    // new item nudges out. 
    transition-delay: 40ms;
  }

  li.stack-item {
    // For browsers that support CSS transitions, make
    // pull out of active item awesome. 
    transition-property: margin-left;
    transition-duration: 120ms;
    transition-timing-function: ease-in;

  }

}

