<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<%= content_tag("div", "",
    :id => "stackview",
    :data => {
        :stackview_init => {
            :id => 0,
            :url => stackview_data_path("test"),
            :search_type => "loc_sort_order"
        }
    })
%>

